<form autocomplete="off" class="needs-validation" (ngSubmit)="onFormSubmit()" #lsForm="ngForm">
    <div class="modal-header bg-warning">
        <h5 class="modal-title"> {{ 'dash.newSchedule' | translate }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
            <div class="form-row">

                <div class="col-12 mb-2 form-group">
                    <label>{{ 'scheduledDay' | translate }}</label>
                    <input [min]="minDay.toDate()" [max]="maxDay.toDate()" [owlDateTimeFilter]="weekendFilter" class="form-control" name="dayCOntrol" [(ngModel)]="day" [owlDateTime]="dt1"  [owlDateTimeTrigger]="dt1"  placeholder="{{ 'selectDay' | translate }}">
                    <owl-date-time (afterPickerClosed)="onDaySelected()" [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>

                <div class="col-12 col-md-6 mb-2 form-group" [hidden] = "!day">
                    <label>{{ 'from' | translate }}</label>
                    <ng-select  [readonly]="!day" (change)="onFromSet($event)" [searchable] = "false" #fromSelect aria-autocomplete="none" name="from"  [items]="fromValues" [(ngModel)]="start" required ></ng-select>
                </div>
                <div class="col-12 col-md-6 mb-2 form-group" [hidden] = "!day || !start">
                    <label>{{ 'to' | translate }}</label>
                    <ng-select [readonly]="!start" [searchable] = "false" aria-autocomplete="none" #untilSelect  [items]="untilValues" name="end" [(ngModel)]="end" required ></ng-select>
                </div>


            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <div class="col-lg-6 text-center">
                <button class="btn btn-block btn-lg btn-success" type="submit" [disabled]="!lsForm.form.valid"><i class="fa fa-check mr-2 pull-left mt-1"></i>
                    {{ 'submit' | translate }}</button>
            </div>
            <div class="col-lg-6 text-center">
                <button type="button" class="btn btn-block btn-outline-secondary mt-2" (click)="activeModal.close('Close click')">
                    <i class="fa fa-times mr-2"></i>
                    {{ 'cancel' | translate }}
                </button>
            </div>
        </div>
    </form>
