<!--Registration Page Starts-->
<section id="regestration">
    <div class="row auth-height full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card overflow-hidden">
          <div class="card-content">
            <div class="card-body auth-img">
              <div class="row m-0">
                    <div class="col-lg-6 d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                        <img src="assets/img/login.png" alt="" class="img-fluid">
                    </div>

                  <div *ngIf="!correctCode" class="col-lg-6 pt-5 pb-5">
                        <h4 class="card-title mb-2  text-center">
                            <i class="fa fa-3x fa-exclamation-triangle text-danger align-middle mr-2"></i>{{'account.expiredCode' | translate}}</h4>
                        <a class="btn btn-block mt-4 btn-outline-success" [routerLink]="['/pages/login']">
                            <i class="fa fa-sign-in mr-3"></i>
                            {{'Login' | translate}}
                        </a>
                    </div>


                    <div *ngIf="!passwordUpdated && correctCode" class="col-lg-6 px-4 py-3">
                      <h5 class="card-title mb-2">{{'account.changePassword' | translate}}</h5>
                      <!-- candidate verify -->
                      <div *ngIf="registerForm" class="pt-4 pb-4" >
                          <form [formGroup]="registerForm" #form="ngForm">
                              <div class="form-group">
                                  <input type="password" formControlName="password" class="form-control mb-2" placeholder="{{'Parola' | translate}}"
                                  [ngClass]="{ 'is-invalid':  form.touched && rf.password.invalid, 'is-valid': !rf.password.invalid }" required>

                                  <div *ngIf="form.touched && (!rf.password.errors?.required && rf.password.errors?.minlength)"
                                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Parola trebuie sa continua minim 4 caractere </div>
                              </div>
                              <div class="form-group">
                                  <input type="password" formControlName="confirmPassword" class="form-control mb-2"
                                  placeholder="Confirma Parola"
                                  [ngClass]="{ 'is-invalid': form.touched && rf.confirmPassword.invalid, 'is-valid': !rf.confirmPassword.invalid }" required>

                                  <div *ngIf="(rf.confirmPassword.errors?.mustMatch)"  class="help-block mt-1 text-danger">
                                      <i class="ft-alert-circle align-middle"></i> Parolele nu sunt identice
                                  </div>
                              </div>

                              <div class="d-flex justify-content-between flex-sm-row flex-column mt-2">
                                  <button [disabled]="!registerForm.valid" class="btn btn-outline-success btn-block" (click)="onSubmitRegister()"><i class="fa fa-check mr-2"></i> {{'account.changePassword' | translate}}</button>
                              </div>
                          </form>
                      </div>
                  </div>

                    <div *ngIf="passwordUpdated" class="col-lg-6 pt-5 pb-5">
                        <h4 class="card-title mb-2  text-center"><i class="fa fa-3x fa-check text-success align-middle mr-2"></i>{{'account.passwordUpdated' | translate}}</h4>
                        <a class="btn btn-block mt-4 btn-outline-success" [routerLink]="['/pages/login']">
                            <i class="fa fa-sign-in mr-3"></i>
                            {{'Login' | translate}}
                        </a>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Registration Page Ends-->


  <ngx-spinner type="ball-newton-cradle"></ngx-spinner>
