<!--Forgot Password Starts-->
<section id="forgot-password">
  <div class="row auth-height full-height-vh m-0 d-flex align-items-center justify-content-center">
    <div class="col-md-7 col-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
                <div class="col-lg-6  d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                    <img src="assets/img/login.png" alt="" class="img-fluid">
                </div>
                <div *ngIf="!resetDone" class="col-lg-6 col-md-12 px-4 py-3">
                    <h4 class="mb-2 card-title">{{'recoverPassword' | translate}}</h4>
                    <p class="card-text mb-3">{{'recoverPasswordInfo' | translate}}</p>
                    <input #emailC="ngModel" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="email" type="email" class="form-control mb-3" placeholder="Email" required>
                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                        <a [routerLink]="['/pages/login']" class="btn bg-light-secondary mb-2 mb-sm-0"><i class="fa fa-arrow-left mr-2"></i>{{'back' | translate}}</a>
                        <button (click)="onSubmit()" [disabled]="emailC.invalid" class="btn btn-warning ml-sm-1"><i class="fa fa-check mr-2"></i>{{'recoverPassword' | translate}}</button>
                    </div>
                </div>
                <div *ngIf="resetDone" class="col-lg-6 col-md-12 px-4 py-3">
                    <h4 class="mb-2 card-title text-center"><i class="fa fa-3x fa-check text-success align-middle mr-2"></i>{{'emailSent' | translate}}</h4>
                    <p class="card-text mb-3 text-center">{{'recoverPasswordInfoSent' | translate}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Forgot Password Ends-->
<ngx-spinner type="ball-newton-cradle"></ngx-spinner>
