<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 mb-3">
                <button class="btn btn-outline-secondary pull-left" [routerLink]="['/dash']"><i class="fa fa-arrow-left mr-2"></i>{{'back' | translate}}</button>
        </div>
        <div class="col-lg-11">
            <h3 class="text-center mb-lg-5">
                {{ 'buycube.title' | translate}}
            </h3>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                    <ul class="list-group pointer">
                        <li *ngFor="let cube of cubes" class="list-group-item list-group-item-action flex-column align-items-start mb-2 shadow rounded"
                            (click) = "selectCube(cube)" [ngClass]="{'bg-warning white': selectedCube == cube}">
                            <div class="d-flex w-100 justify-content-between">
                                <p *ngIf="!order.weekendAccess" class="mb-3"><span class="font-large-1">{{cube.cubeCount}} </span>
                                    <span *ngIf="cube.cubeCount > 1">{{'buycube.cubes' | translate}}</span>
                                    <span  *ngIf="cube.cubeCount == 1">{{'buycube.cube' | translate}}</span>
                                </p>
                                <p *ngIf="order.weekendAccess" class="mb-3"><span class="font-large-1">{{cube.cubeCountWeekend}} </span>
                                    <span *ngIf="cube.cubeCountWeekend > 1">{{'buycube.cubes' | translate}}</span>
                                    <span  *ngIf="cube.cubeCountWeekend == 1">{{'buycube.cube' | translate}}</span>
                                </p>

                                <div>
                                    <span *ngIf="!order.weekendAccess" class="badge bg-light-warning"><strong>{{cube.weekDaysPrice}} </strong>RON</span>
                                    <span *ngIf="order.weekendAccess" class="badge bg-light-warning"><strong>{{cube.weekEndPrice}} </strong>RON</span>
                                </div>
                            </div>
                            <p class="mb-2">{{'buycube.' + cube.cubeCount + 'cubetext' | translate}}</p>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4" *ngIf="selectedCube">
                    <div class="m-0 p-4">
                        <h6 class="text-center">{{'buycube.validity' | translate}}</h6>
                        <p class="text-center mb-0">{{'buycube.validity2' | translate}}
                            <span *ngIf="selectedCube.cubeCount > 1">{{'buycube.weekendInfo' | translate}}</span>
                        </p>

                        <div class="form-group mb-1 mb-xl-0 text-center" [hidden]="currentUser.remainingCubes">
                            <ui-switch [(ngModel)]="order.weekendAccess" (change)="onWeekendSwitch($event)" ></ui-switch>
                            <label for="switchery" class="pt-1 pl-2 mt-2">{{'buycube.weekend' | translate}}</label>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <div class="text-center">

                                <ul class="list-group list-group-flush text-left" *ngIf="discounts.length" id="discounts_wrap">
                                    <li class="list-group-item">
                                        {{order.cubeCount}}
                                        <span *ngIf="selectedCube.cubeCount > 1">{{'buycube.cubes' | translate}}</span>
                                        <span  *ngIf="selectedCube.cubeCount == 1">{{'buycube.cube' | translate}}</span>

                                        <span class="badge bg-light-warning pull-right">
                                            <span *ngIf="!order.weekendAccess" >{{selectedCube.weekDaysPrice}} RON</span>
                                            <span *ngIf="order.weekendAccess" >{{selectedCube.weekEndPrice}} RON</span>
                                        </span>
                                    </li>

                                    <li *ngFor="let d of discounts" class="list-group-item discount-row">
                                        {{'discount' | translate}}
                                        <span class="badge bg-light-warning pull-right">
                                            {{d.value}}
                                            <span *ngIf="d.type =='PERCENT'">%</span>
                                            <span *ngIf="d.type =='FIXED'">RON</span>
                                        </span>
                                    </li>
                                    <li class="list-group-item active font-medium-3">
                                        {{'buycube.willPay' | translate}}
                                        <span class="pull-right font-weight-bold"> {{order.getTotal()}} RON</span>
                                    </li>
                                </ul>

                                <p *ngIf="!discounts.length" class="text-bold-700">{{'buycube.willPay' | translate}}
                                    <span *ngIf="!order.weekendAccess" >{{selectedCube.weekDaysPrice}} RON</span>
                                    <span *ngIf="order.weekendAccess" >{{selectedCube.weekEndPrice}} RON</span>
                                    pentru
                                    <span>
                                        {{order.cubeCount}}
                                    </span>
                                    <span *ngIf="selectedCube.cubeCount > 1">{{'buycube.cubes' | translate}}</span>
                                    <span  *ngIf="selectedCube.cubeCount == 1">{{'buycube.cube' | translate}}</span>
                                </p>

                                <p class="mt-2">{{'buycube.pushButton' | translate}}</p>
                            </div>
                            <button (click)="buyCube()" class="btn btn-lg btn-outline-success mt-2"><i class="fa fa-cart-arrow-down mr-2"></i> {{'buycube.toPay' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner type="ball-newton-cradle"></ngx-spinner>

<form *ngIf="request" #cardPayment action="{{request.url}}" METHOD="POST" name="gateway" target="_self">
    <input name="env_key" type="hidden" value="{{request.env_key}}" />
    <input name="data" type="hidden" value="{{request.data}}" />
</form>

<!-- <pre>
    {{ order | json}}
</pre>
<pre>
    {{ selectedCube | json}}
</pre> -->
