@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
.ng-submitted ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
}

#current-location{
    display: block;
    font-size: 0.5em;
    text-align: center;
    letter-spacing: 0.3px;
}
app-candidates-list .ngx-datatable .datatable-header,
app-candidates-list .ngx-datatable .datatable-header datatable-header-cell{
    overflow: visible !important;
    position: relative;
    z-index: 3000;
}

.cdk-overlay-container {
    z-index: 2000;
    box-shadow: 2px 2px 2px;
}
.pointer{
    cursor: pointer;
}

.sidebar-header{
    padding-left: 15px;
}

.app-sidebar{
    overflow: hidden;
}

.customizer .customizer-toggle {
    top:unset;
    bottom: 1%;
}

#dashQrCode canvas{
    width: 100% !important;
    height: auto !important;
}

.swal2-styled.swal2-confirm {
    background-color: #F77E17 !important;
}
.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(247 126 23 / 27%) !important;
}
signature-pad{
    background: transparent !important;
    box-shadow: 0 0 -2px 6px;
}


.signature-pad-canvas {
    background: rgb(255, 251, 246) !important;
    border: solid 1px #d3ebff!important;
    box-shadow: 0 0 15px -8px;
}

.nl2br{
    white-space: pre-wrap;
}


// make all DT headers have background on mobile
@media screen and (max-width: 800px) {
    .ngx-datatable.bootstrap .datatable-body .datatable-body-row {
        background-color: rgba(0, 0, 0, 0.05);
    }
}
